.DS_Store
.idea
.vscode
.gradle
.postman
Thumbs.db
/fsh-generated
/fml-generated
/input-cache
/output
/temp
/template
/build
/node_modules
package.json
package-lock.json
Requirements-fromNarrative.json